.my-f-r-authentication{
	border: 1px solid #D5D5D5;
	border-radius: 5px 5px 0 0;
}
.authenticationNav{
	margin-bottom: 40px;
}
.authenticationNav li{
	float: left;
	border-right: 1px solid #D5D5D5;
}
.authenticationNav li a{
	float: left;
	width: 128px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	color: #333;
	background: #F8F8F8;
}
.authenticationNav li.first a{
	border-radius: 5px 0 0;
}
.authenticationNav li.last{
	border: none;
}
.authenticationNav li.last a{
	border-radius: 0 5px 0 0;
}
.authenticationNav li.current a{
	background: #fff;
	color: #39a1ea;
	font-size: 16px;
}
.authenticationNav li.w131 a{
	width: 131px;
}
.authenticationItem li{
	margin-bottom: 10px;
}
.authenticationItem li label,.authenticationItem li input,.authenticationItem li div{
	float: left;
}
.authenticationItem li label{
	height: 27px;
	line-height: 27px;
	text-align: right;
	margin-right: 7px;
	width: 120px;
	color: #666;
}
.authenticationItem li label a{
	margin-left:3px;
}
.authenticationItem li input{
	height: 25px;
	border: 1px solid #E4E4E4;
	width: 174px;
	margin-right: 5px;
	width: 246px;
	border-radius: 3px;
    padding-left: 12px;
}
.authenticationItem li em {
    clear: both;
    color: #999;
    display: block;
    font-family: "宋体";
    font-size: 12px;
    padding: 2px 0 0 127px;
}
.my-f-r-authentication .subBtn{
	padding-top: 30px;
}
.my-f-r-authentication .subBtn input{
	width: 177px;
	height: 32px;
	background: #39A1EA;
	color: #fff;
	font-size: 15px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.my-f-r-authentication .subBtn input:hover {
    background: #1d83ca;
}
.my-f-r-authentication .subBtn input.gray{
	background: #ccc;
	color: #999;
	cursor: default;
}
.my-f-r-authentication .inputSubBtn input{
	height: 30px;
}
.my-f-r-authentication .inputSubBtn input.text{
	height: 28px;
	width: 111px;
	border: 1px solid #E3E3E3;
	background: none;
	cursor: auto;
	color: #000;
    padding-left: 12px;
}
.my-f-r-authentication .inputSubBtn input.submit{
	width: 114px;
}
.pl140{
	padding-left: 140px;
}
.pl267{
	padding-left: 267px;
}
.h500{
	height: 500px;
}
.formExplain{
	line-height: 33px;
	height: 33px;
	color: #999;
	background: url(http://www.ppdaicdn.com/2014/img/ppdai2014Icon.png) no-repeat -233px -534px;
	padding-left: 17px;
}
.authenticationItemVideo{
	width: 720px;
	margin: 0 auto;
}
.authenticationItemVideo td{
	width: 50%;
	line-height: 2;
}
.authenticationItemVideo td input.submit{
	background: #39A1EA;
	width: 176px;
	height: 32px;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	border: none;
	display: block;
	margin: 20px auto 0;
	cursor: pointer;
}
.authenticationItemVideo td input.submit:hover {
    background: #1d83ca;
}
.oneRowDivFormExplain{
	background: url(http://www.ppdaicdn.com/2014/img/tip.png) no-repeat 0 10px;
	padding-left: 20px;
	padding-top: 7px;
	color: #000;
}
.oneRowDivFormExplain ul{
	float: right;
	width: 678px;
}
.oneRowDivFormExplain ul li{
	line-height: 1.7;
}
.oneRowDivFormExplain ul li a{
	color: #39A1EA;
}
.pb20{
	padding-bottom: 50px;

}
.authenticationItem p{
	color: #999;
	text-align: center;
}
.authenticationItem p a{
	color: #39a1ea;
}
.authenticationItem p.authed {
    padding-left: 190px;
	color: #666;
	font-weight: normal;
	font-size: 24px;
	background: url(http://www.ppdaicdn.com/2014/img/ppdai2014Icon.png) no-repeat -75px -592px;
	margin-top: 57px;
    text-align: left;
}
.mt50{
	margin-top: 50px;
}
.historyAuthentication{
	border-radius: 3px 3px 0 0;
	border: 1px solid #e5e5e5;
	margin-top: 20px;
	margin-bottom: 10px;
}
.historyAuthentication h3{
	height: 27px;
	background: #F3F3F3;
	border-radius: 3px 3px 0 0;
	line-height: 27px;
	color: #666;
	padding: 0 16px;
	border-bottom: 1px solid #fff;
}
.historyAuthentication table{
	width: 100%;
}
.historyAuthentication table th{
	background: #F8F8F8;
	font-weight: normal;
	color: #666;
	height: 27px;
}
.historyAuthentication table td{
	color: #666;
	text-align: center;
	height: 48px;
	border-bottom: 1px dashed #E7E7E7;
}
.historyAuthentication table tr.last td{
	border-bottom: none;
}
.authenticationWstabNav{
	margin-bottom: 43px;
}
.authenticationWstabNav a{
	float: left;
	height: 48px;
	width: 242px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	background: #eee;
	color: #666;
	font-size: 16px;
}
.authenticationWstabNav a.current{
	background: #39A1EA;
	color: #fff;
}

